header {
    background-color: #00ea10;
    color: #fff;
    padding: 20px;
    text-align: center;
}
section{
    text-align: center;
}
header a{
    color: white;
    font-family: Arial, sans-serif;
    text-decoration: none;
}
section a{text-decoration: none;
    text-align: center;
}
section img{
    width: 900px;
height: 400px;
}
.accordion-body{
    color:black
}

img{
    width: 2000px;
    height: 450px;
}